.Card {
  border: 2px solid #000;
  display: flex;
  box-sizing: border-box;
  padding: 5px;
  width: 90%;
  margin: 1% auto;
  column-gap: 5px;
}

.BoxColor {
  text-align: center;
  flex-direction: column;
}

.IdCardImg {
  /* flex: 1; */
}

.IdCardTxt {
  /* flex: 6; */
}

/* .IdCardImg img {
  height: 100%;
  margin-right: 5px;
} */

.IdCard img {
  /* margin-right: 5px; */
}

.CreditCard {
  width: 300px;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  display: inline-block;
}

.CreditCard .type {
  text-align: right;
}

.CreditCard .type img {
  width: 60px;
  /* height: 20px; */
}

.CreditCard .bank {
  margin-left: 20px;
}

.CreditCard .number {
  font-size: 1.9em;
  text-align: center;
  margin: 20px 0;
}

.Rating {
  font-size: 3em;
}
