.Card {
  border: 2px solid #000;
  display: flex;
  box-sizing: border-box;
  padding: 5px;
  width: 90%;
  margin: 1% auto;
  column-gap: 5px;
}

.BoxColor {
  text-align: center;
  flex-direction: column;
}

.IdCardImg {
  /* flex: 1; */
}

.IdCardTxt {
  /* flex: 6; */
}

/* .IdCardImg img {
  height: 100%;
  margin-right: 5px;
} */

.IdCard img {
  /* margin-right: 5px; */
}
